root = true

#[*]
#insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.{js,java,yaml,yml,json}]
indent_style = space
indent_size = 2
insert_final_newline = true

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
indent_size = 2
